<%inherit file="base.mako.html" />
<%block name="container">
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Les adherents
                </div>
                <div class="panel-body">
                    <table class="col-lg-12">
                        <thead>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Date de naissance</th>
                        <th>Action</th>
                        </thead>
                        <tbody>
                        %for adherent in adherents:
                        <tr>
                            <form action="details">
                                <td>${adherent.nom}</td>
                                <td>${adherent.prenom}</td>
                                <td>${adherent.dateNaissance}</td>
                                <td>
                                    <input type="hidden" name="licence" value="${adherent.licence}">
                                    <input type="submit" value="Afficher detail">
                                </td>
                            </form>
                        </tr>
                        %endfor
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
</%block>