<%inherit file="base.mako.html" />
<%block name="container">
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Professeur
                    <span class="glyphicon glyphicon-pencil pull-right plus-button" aria-hidden="true"
                                          data-toggle="modal" data-target="#modifier"></span>
                </div>
                <div class="panel-body">
                    <p>Nom : ${professeur.nom}</p>
                    <p>Prenom : ${professeur.prenom}</p>
                    <p>Date de naissance : ${professeur.dateNaissance}</p>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Grades
                                    <span class="glyphicon glyphicon-plus pull-right plus-button" aria-hidden="true"
                                          data-toggle="modal" data-target="#addGrade"></span>
                                </div>
                                <div class="panel-body">
                                    <table class="col-lg-12">
                                        <thead>
                                        <th>Libelle</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                        </thead>
                                        <tbody>
                                        %for grade in grades:
                                        <tr>
                                            <td>${grade.libelle}</td>
                                            <td>${grade.dateObtention}</td>
                                            <td>
                                                <form action="supressGradeProf" method="post">
                                                    <input name="licence" type="hidden" value="${professeur.licence}"/>
                                                    <input name="idGrade" type="hidden" value="${grade.id}"/>
                                                    <input type="submit" value="Supprimer"/>
                                                </form>
                                            </td>
                                        </tr>
                                        %endfor
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Diplomes
                                    <span class="glyphicon glyphicon-plus pull-right plus-button" aria-hidden="true"
                                          data-toggle="modal" data-target="#addDiplome"></span>
                                </div>
                                <div class="panel-body">
                                    <table class="col-lg-12">
                                        <thead>
                                        <th>Libelle</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                        </thead>
                                        <tbody>
                                        %for diplome in diplomes:
                                        <tr>
                                            <td>${diplome.libelle}</td>
                                            <td>${diplome.dateObtention}</td>
                                            <td>
                                                <form action="supressGradeProf" method="post">
                                                    <input name="licence" type="hidden" value="${professeur.licence}"/>
                                                    <input name="idGrade" type="hidden" value="${diplome.id}"/>
                                                    <input type="submit" value="Supprimer"/>
                                                </form>
                                            </td>
                                        </tr>
                                        %endfor
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>
<!-- Modal Ajout Diplome -->
<div class="modal fade" id="addDiplome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="ajoutDiplome">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Ajout d'un diplomes</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="licence" value="${professeur.licence}">
                    <div class="input-group">
                        <span class="input-group-addon">Libelle</span>
                        <input type="text" name="libelle" class="form-control" placeholder="Libelle">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Date Obtention</span>
                        <input type="date" name="date" class="form-control" placeholder="YYYY-MM-DD">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Valider">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Ajout grade -->
<div class="modal fade" id="addGrade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="ajoutGradeProf">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Ajout d'un grade</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="licence" value="${professeur.licence}">
                    <div class="input-group">
                        <span class="input-group-addon">Libelle</span>
                        <input type="text" name="libelle" class="form-control" placeholder="Libelle">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Date Obtention</span>
                        <input type="date" name="date" class="form-control" placeholder="YYYY-MM-DD">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Valider">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal modif prof -->
<div class="modal fade" id="modifier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="modifierProfesseur">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modification professeur</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="licence" value="${professeur.licence}">
                    <div class="input-group">
                        <span class="input-group-addon">Nom</span>
                        <input type="text" name="nom" class="form-control" placeholder="Nom" value="${professeur.nom}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Prenom</span>
                        <input type="text" name="prenom" class="form-control" placeholder="Prenom" value="${professeur.prenom}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Date Naissance</span>
                        <input type="date" name="datenaissance" class="form-control" placeholder="YYYY-MM-DD" value="${professeur.dateNaissance}">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Valider">
                </div>
            </form>
        </div>
    </div>
</div>
</%block>